{% extends "tracker/base.html" %} 

{% block content %}

<div class="card bg-secondary text-light shadow">

<div class="card-body">

    <h2>Delete Workout</h2>

    <p>
        Are you sure you want to delete "{{ workout.workout_name }}"?
    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            Delete
        </button>

        <a href="{% url 'home' %}" class="btn btn-secondary">
            Cancel
        </a>
</div>
</div>

{% endblock %}